<!DOCTYPE html>
<html class="app-ui" lang="tr">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>@ViewBag.Title - WissenAkademie ASP.Net MVC</title>

    <meta name="description" content="ASP.Net MVC ile template giydirme eğitimi" />
    <meta name="author" content="Mesut" />
    <meta name="robots" content="noindex, nofollow" />
    <link rel="apple-touch-icon" href="~/assets/img/favicons/apple-touch-icon.png" />
    <link rel="icon" href="~/assets/img/favicons/favicon.ico" />

    <!-- Google fonts -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,400italic,500,900%7CRoboto+Slab:300,400%7CRoboto+Mono:400" />
    
    <!-- AppUI CSS stylesheets -->
    @Styles.Render("~/bundle/css")
    @RenderSection("top", false)
</head>
<body class="app-ui layout-has-drawer layout-has-fixed-header">
    <div class="app-layout-canvas">
        <div class="app-layout-container">
            <!-- Drawer -->
            @{Html.RenderAction("DrawerPartial", "Partial");}
            <!-- End drawer -->
            <!-- Header -->
            @{Html.RenderAction("HeaderPartial", "Partial");}
            <!-- End header -->
            <main class="app-layout-content">
                <!-- Page Content -->
                <div class="container-fluid p-y-md">
                    @RenderBody()
                </div>
                <!-- End Page Content -->
            </main>
        </div>
        <!-- .app-layout-container -->
    </div>
    <!-- .app-layout-canvas -->
    <!-- Apps Modal -->
    <!-- Opens from the button in the header -->
    @{Html.RenderAction("ModalPartial", "Partial");}
    <!-- End Apps Modal -->
    <div class="app-ui-mask-modal"></div>
    <!-- AppUI Core JS: jQuery, Bootstrap, slimScroll, scrollLock and App.js -->
    @Scripts.Render("~/bundle/js")

    @RenderSection("bottom", false)
</body>
</html>
