
@{
    ViewBag.Title = "Index";
}
<br />
<br />
<br />
<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <form class="form-inline" id="frmAdd">
                <div class="form-group">
                    <label for="txtCategoryName">Category Name</label>
                    <input type="text" class="form-control" id="txtCategoryName" placeholder="Category Name">
                </div>
                <div class="form-group">
                    <label for="txtDescription">Description</label>
                    <input type="text" class="form-control" id="txtDescription" placeholder="Description">
                </div>
                <button type="submit" class="btn btn-info">Add Category</button>
                <div id="messagediv"></div>
            </form>
            <form class="form-inline" id="frmUpdate" style="display: none">
                <input type="hidden" id="CategoryID" />
                <div class="form-group">
                    <label for="txtCategoryName2">Category Name</label>
                    <input type="text" class="form-control" id="txtCategoryName2" placeholder="Category Name">
                </div>
                <div class="form-group">
                    <label for="txtDescription2">Description</label>
                    <input type="text" class="form-control" id="txtDescription2" placeholder="Description">
                </div>
                <button type="submit" class="btn btn-info">Update Category</button>
                <div id="messagediv2"></div>
            </form>
        </div>
    </div>
    <br />
    <br />
    <div class="row" id="searchdiv">
        <div class="col-md-6 col-md-offset-3">
            <div class="col-lg-8">
                <div class="input-group  input-group-lg">
                    <input type="text" id="txtsearch" class="form-control" placeholder="Search for...">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </span>
                </div><!-- /input-group -->
                <div id="resultmessage"></div>
            </div><!-- /.col-lg-6 -->
        </div>
    </div>
    <div class="row" id="resultdiv">
        <div class="col-md-10 col-md-offset-1">
            <table class="table table-responsive table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Category Name</th>
                        <th>Description</th>
                        <th>Product Count</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody id="resultbody"></tbody>
            </table>
        </div>
    </div>
</div>



@section scripts
{
    <script>
        $(function () {
            setInterval(init, 10000);
            function init() {
                $.ajax({
                    url: "@Url.Action("Search","Category",new {s="*"})",
                    method: "get",
                    dataType: "json"
                }).done(function(e) {
                    if (e.success) {
                        renderdata(e.data);
                        $("#resultdiv").show(600);
                    } else {
                        alert(e.message);
                    }
                });
            }
            $("#frmAdd").submit(function (ev) {
                ev.preventDefault();
                var data = {
                    CategoryName: $("#txtCategoryName").val(),
                    Description: $("#txtDescription").val()
                }
                $.ajax({
                    url: '@Url.Action("Add","Category")',
                    method: "post",
                    dataType: "json",
                    data:data
                }).done(function(e) {
                    alert(e.message);
                });
            });
            $("#frmUpdate").submit(function(ev) {
                ev.preventDefault();
                var data = {
                    CategoryName: $("#txtCategoryName2").val(),
                    Description: $("#txtDescription2").val(),
                    CategoryID: $("#CategoryID").val()
                };
                $.ajax({
                    url: '@Url.Action("Update","Category")',
                    method: "post",
                    dataType: "json",
                    data:data
                }).done(function(e) {
                    alert(e.message);
                    if (e.success) {
                        init();
                        $("#frmUpdate").hide();
                        $("#frmAdd").show(400);
                    }
                });
            });
            $("#resultdiv").hide();
            $("#txtsearch").keyup(function (e) {
                $("#resultmessage").hide();
                $("#resultdiv").hide();
                var key = $(this).val();
                if (key.length < 3)
                    return;

                $.ajax({
                    url: '@Url.Action("Search","Category")' + "?s=" + key,
                    method: "GET",
                    dataType:"json"
                }).done(function (e) {
                    $("#resultmessage").fadeIn(400);
                    if (e.success) {
                        $("#resultmessage").html("<span class='text text-success'><h2>" + e.message + "</h2></span>");
                        if (e.data.length > 0) {
                            renderdata(e.data);
                            $("#resultdiv").show(600);
                        }
                    } else {
                        $("#resultmessage").html("<span class='text text-danger'><h2>" + e.message + "</h2></span>");
                    }
                });
            });
            function renderdata(data) {
                $("#resultbody").empty();
                $.each(data,
                    function (key, value) {
                        var tr = document.createElement("tr");
                        var th = document.createElement("th");
                        th.innerText = key + 1;
                        var td = document.createElement("td");
                        td.innerText = value.CategoryName;
                        var td2 = document.createElement("td");
                        td2.innerText = value.Description;
                        var td3 = document.createElement("td");
                        td3.innerText = value.ProductCount;
                        var td4 = document.createElement("td");
                        var a = document.createElement("a");
                        $(a).attr("href", "@Url.Action("Detail", "Category")" + "/" + value.CategoryID).attr("class", "btn btn-success").html("Detail");

                        var btnSil = document.createElement("input");
                        $(btnSil).attr({
                            "type": "button",
                            "class": "btn btn-danger",
                            "value": "Delete",
                            "name": value.CategoryID
                        }).on("click", function () {
                            var id = this.name;
                            $.ajax({
                                url: "@Url.Action("Delete","Category")",
                                method: "post",
                                dataType: "json",
                                data: {id:id}
                            }).done(function(e) {
                                alert(e.message);
                                init();
                            });
                        });
                        var btnGuncelle = document.createElement("input");
                        $(btnGuncelle).attr({
                            "type": "button",
                            "class": "btn btn-warning",
                            "value": "Update",
                            "name": value.CategoryID
                        }).on("click",
                            function () {
                                var categoryId = this.name;
                                var satir = $(this).parent().parent()[0].childNodes;
                                var categoryName = satir[1].innerText;
                                var description = satir[2].innerText;
                                $("#CategoryID").val(categoryId);
                                $("#txtCategoryName2").val(categoryName);
                                $("#txtDescription2").val(description);
                                $("#frmAdd").hide();
                                $("#frmUpdate").show(400);
                            });

                        $(a).appendTo(td4);
                        $(btnSil).appendTo(td4);
                        $(btnGuncelle).appendTo(td4);

                        $(tr).append(th).append(td).append(td2).append(td3).append(td4).appendTo($("#resultbody"));
                    });
            }

            init();
        });
    </script>
}